<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Emotion Detector</title>
    <link rel="icon" href="{{ url_for('static', filename = 'img/psy_icon.jpg') }}">   

<!-- FontAwesome -->
<script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js"></script>

<!-- Bring in our bootstrap stylesheet -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}" media="screen">
  </head>
  <body>

    
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/">Home</a>
    <a href="/about">About Us</a>
    <a href="/feedback">Leave Feedback</a>
  </div>
  
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  
  <script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }
  
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
  </script>

      <section class="page-header">
        <h1 class="project-name">Emotion Detector</h1>
        <h2 class="project-tagline"> Upload Your Recording</h2>

        <!-- Adding in recording input -->

        <form action="/emotionaudio" method = "post" enctype="multipart/form-data">
          <input type="file" accept="audio/*" capture id="recorder" name="audio">
            <audio id="player" controls></audio>
            <script>
              const recorder = document.getElementById('recorder');
              const player = document.getElementById('player');

              recorder.addEventListener('change', function(e) {
                  const file = e.target.files[0];
                  const url = URL.createObjectURL(file);
                  // Do something with the audio file.
                  player.src = url;
              });
            </script>

          <br><br><br>
          <input type = "submit" value="Submit">
        </form>

        <!-- <input type="file" accept="audio/*" capture id="recorder">
            <audio id="player" controls></audio>
            <script>
            const recorder = document.getElementById('recorder');
            const player = document.getElementById('player');

            recorder.addEventListener('change', function(e) {
                const file = e.target.files[0];
                const url = URL.createObjectURL(file);
                // Do something with the audio file.
                player.src = url;
            });

        </script>
        <br><br>
        <a href="##" class="btn">Submit</a> -->
      </section>

      <!-- <div class="row">
        <div class="column" style="background-color:white;">
          <img src="{{ url_for('static', filename = 'img/angry.png') }}" alt="Example" width="210" height="300">
        </div>
        <div class="column" style="background-color:white;">
          <img src="{{ url_for('static', filename = 'img/disgust.png') }}" alt="Example" width="210" height="300">
        </div>
        <div class="column" style="background-color:white;">
          <img src="{{ url_for('static', filename = 'img/neutral.png') }}" alt="Example" width="210" height="300">
        </div>
        <div class="column" style="background-color:white;">
          <img src="{{ url_for('static', filename = 'img/surprise.png') }}" alt="Example" width="210" height="300">
        </div>
        <div class="column" style="background-color:white;">
          <img src="{{ url_for('static', filename = 'img/happy.png') }}" alt="Example" width="210" height="300">
        </div>
      </div> -->
      <div class="row">
        <div class="column" style="background-color:white;">
          <!-- <img src="{{ url_for('static', filename = 'img/angry.png') }}" alt="Example" width="210" height="300"> -->
          <i class="far fa-angry" width="210" height="300"></i>
            {% if name %}
              {% if name.audio == "angry" %}
                <style>
                  .fa-angry {
                    color:red;
                    /* color: {{ name.image }}; */
                  }
                </style>
                <h3>{{ name.audio }}</h3>
              {% endif %}
            {% endif %}
        </div>
        <div class="column" style="background-color:white;">
          <!-- <img src="{{ url_for('static', filename = 'img/disgust.png') }}" alt="Example" width="210" height="300"> -->
          <i class="far fa-meh-rolling-eyes" width="210" height="300"></i>
          {% if name %}
            {% if name.audio == "disgust" %}
              <style>
                .fa-meh-rolling-eyes {
                  color: greenyellow;
                }
              </style>
              <h3>{{ name.audio }}</h3>
            {% endif %}
          {% endif %}
        </div>
        <div class="column" style="background-color:white;">
          <!-- <img src="{{ url_for('static', filename = 'img/neutral.png') }}" alt="Example" width="210" height="300"> -->
          <i class="far fa-meh" width="210" height="300"></i>
          {% if name %}
            {% if name.audio == "neutral" %}
              <style>
                .fa-meh {
                  color: gray;
                }
              </style>
              <h3>{{ name.audio }}</h3>
            {% endif %}
          {% endif %}
        </div>
        <div class="column" style="background-color:white;">
          <!-- <img src="{{ url_for('static', filename = 'img/surprise.png') }}" alt="Example" width="210" height="300"> -->
          <i class="far fa-surprise" width="210" height="300"></i>
          {% if name %}
            {% if name.audio == "surprised" %}
              <style>
                .fa-surprise {
                  color: blue;
                }
              </style>
              <h3>{{ name.audio }}</h3>
            {% endif %}
          {% endif %}
        </div>
        <div class="column" style="background-color:white;">
          <!-- <img src="{{ url_for('static', filename = 'img/happy.png') }}" alt="Example" width="210" height="300"> -->
          <i class="far fa-laugh" width="210" height="300"></i>
          {% if name %}
            {% if name.audio == "happy" %}
              <style>
                .fa-laugh {
                  color: darkorchid;
                }
              </style>
              <h3>{{ name.audio }}</h3>
            {% endif %}
          {% endif %}
        </div>
        <div class="column">
          <i class="far fa-grimace" width="210" height="300"></i>
          {% if name %}
            {% if name.audio == "fearful" %}
              <style>
                .fa-grimace {
                  color: orange;
                }
              </style>
              <h3>{{ name.audio }}</h3>
            {% endif %}
          {% endif %}
        </div>
        <div class="column">
          <i class="far fa-frown" width="210" height="300"></i>
          {% if name %}
            {% if name.audio == "sad" %}
              <style>
                .fa-frown{
                  color: yellow;
                }
              </style>
              <h3>{{ name.audio }}</h3>
            {% endif %}
          {% endif %}
        </div>
      </div>

      <br>
      <br>
      <br>
      <p style="text-align:center">© 2021 Emotion Detector</p>
      
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

</body>
</html>