* {
    box-sizing: border-box; }
  
  body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71; }
  
  a {
    color: #1e6bb8;
    text-decoration: none; }
    a:hover {
      text-decoration: underline; }
  
  h3 {
      /* text-align: center; */
      text-transform: capitalize;
      margin-left: 120px;
    }
  
  /* i {
    width: 100%;
    height: auto;
  } */

  /* #angry-icon {
    color: red;
  } */
  .fa-angry, .fa-meh-rolling-eyes, .fa-meh, .fa-surprise, .fa-laugh, .fa-grimace, .fa-frown {
    color: lightgrey;
    font-size: 12em;
    /* margin-left: 100px;
    margin-top: 80px; */
    margin-left: 70px;
    margin-top: 40px;
    
  }

  input[type="submit"]{
    width: 5.5em;  
    height: 3em;
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;}
    input[type="submit"] + input[type="submit"] {
      margin-left: 1rem;
    }
    input[type="submit"]:hover{
      color: rgba(255, 255, 255, 0.8);
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.2);
      border-color: rgba(255, 255, 255, 0.3);
    }
  
  .btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
    .btn + .btn {
      margin-left: 1rem; }
  
  .btn:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3); }
  
  @media screen and (min-width: 64em) {
    .btn {
      padding: 0.75rem 1rem; } }
  
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .btn {
      padding: 0.6rem 0.9rem;
      font-size: 0.9rem; } }
  
  @media screen and (max-width: 42em) {
    .btn {
      display: block;
      width: 100%;
      padding: 0.75rem;
      font-size: 0.9rem; }
      .btn + .btn {
        margin-top: 1rem;
        margin-left: 0; } }
  
  .page-header {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957); }
  
  @media screen and (min-width: 64em) {
    .page-header {
      padding: 5rem 6rem; } }
  
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
      padding: 3rem 4rem; } }
  
  @media screen and (max-width: 42em) {
    .page-header {
      padding: 2rem 1rem; } }
  
  .project-name {
    margin-top: 0;
    margin-bottom: 0.1rem; }
  
  @media screen and (min-width: 64em) {
    .project-name {
      font-size: 3.25rem; } }
  
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .project-name {
      font-size: 2.25rem; } }
  
  @media screen and (max-width: 42em) {
    .project-name {
      font-size: 1.75rem; } }
  
  .project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7; }
  
  @media screen and (min-width: 64em) {
    .project-tagline {
      font-size: 1.25rem; } }
  
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .project-tagline {
      font-size: 1.15rem; } }
  
  @media screen and (max-width: 42em) {
    .project-tagline {
      font-size: 1rem; } }
  
/* This will control the side */
      .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #159957         ;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #f1f1f1 ;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #a9a9a9;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }


      * {
        box-sizing: border-box;
      }
      
      /* Create four equal columns that floats next to each other */
      .column {
        grid-column: 1 / 7;
        margin: auto;
        

      }


            /* Create four equal columns that floats next to each other */
            /* .column {
              float: left;
              width: 25%;
              padding: 10px;
              height: 300px; /* Should be removed. Only for demonstration */
              
      /*.column2 {
        float: left;
        width: 20%;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
        /* padding-top: 100px; 
      }*/
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

      img {
        width: 100%;
        height: auto;
      }

  

  